*,
::before,
::after {
  padding: 0%;
  margin: 0%;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'lato',sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

.content_heading {
  text-transform: uppercase;
  color: #fff;
  margin: 3rem; }
  .content_heading--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 6.3rem;
    animation-name: moveLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .content_heading--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.4rem;
    animation-name: moveRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }

.heading_secondary {
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.7;
  color: #777;
  text-align: center;
  margin-bottom: 5rem; }

.text {
  font-size: 1.6rem;
  line-height: 3rem;
  margin-bottom: 4rem; }

.heading_tertiary {
  color: #77dae3;
  font-weight: 400;
  text-transform: uppercase;
  position: relative; }
  .heading_tertiary::before {
    content: "";
    position: absolute;
    width: 12.5rem;
    height: 1px;
    background-color: #ddd;
    bottom: 1px;
    display: block; }
  .heading_tertiary::after {
    content: "";
    position: absolute;
    width: 4rem;
    height: 3px;
    background-color: #77dae3;
    bottom: 0;
    display: block;
    left: 30%; }

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.btn, .btn:link, .btn:visited {
  padding: 1.5rem 6rem;
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  font-size: 1.6rem;
  transition: all 0.2s;
  cursor: pointer;
  position: relative;
  margin-left: 13rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }
  .btn:hover:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn-animation {
  animation: moveBottom .5s ease-out .7s;
  animation-fill-mode: backwards; }

.btn-white button {
  font-size: 2.2rem;
  text-align: center;
  letter-spacing: 2px;
  border: none;
  border-radius: 2rem;
  padding: .8rem;
  width: 20rem;
  cursor: pointer; }

.btn-white button:hover {
  transition: 1s;
  background-color: #777;
  color: #fff; }

.btn-green {
  width: 15rem;
  height: 4rem;
  background: #28a4b0;
  border-radius: 1rem;
  border: none;
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: ease-in-out .2s; }
  .btn-green:hover {
    background-color: #77dae3; }

.btn-port {
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  outline: none;
  margin-top: 2rem;
  margin-right: 1rem;
  padding: 1.2rem 1.6rem;
  border-radius: 5rem;
  cursor: pointer;
  font-size: 1.4rem;
  background-color: #28a4b0;
  color: #fff; }
  .btn-port:hover {
    background-color: #77dae3; }

.active {
  background-color: #bcbcbc;
  color: #fff; }

.about {
  background: url(/img/event-5.jpg) no-repeat;
  background-size: 55%;
  overflow: hidden;
  padding: 8rem 0;
  width: 90%;
  margin: 0 auto; }
  .about_inner {
    width: 55%;
    float: right;
    background-color: #77dae3;
    padding: 8rem;
    box-shadow: 1.3rem 1.2rem 0.8rem rgba(0, 0, 0, 0.3); }
    .about_inner h1 {
      margin-bottom: 3rem;
      font-size: 3rem;
      font-weight: 900;
      text-align: center; }

.heading {
  transform: skewY(2deg); }
  .heading h2::before {
    left: 46%; }
  .heading h2::after {
    left: 48.8%; }

.row {
  padding-top: 5rem;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  align-items: center;
  transform: skewY(2deg); }

.box {
  border-radius: 2rem;
  overflow: hidden;
  background-color: #fff;
  transition: all .3s; }
  .box img {
    width: 40rem; }
  .box h3 {
    font-size: 2.5rem;
    padding-top: 2rem;
    color: #777; }
  .box p {
    padding: 2rem;
    line-height: 2.5rem; }
  .box:hover {
    transform: translateY(-1rem);
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.2); }

.line {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap; }
  .line .column {
    width: 40rem;
    margin: 2rem;
    position: relative;
    box-shadow: 7px 1rem 2rem rgba(0, 0, 0, 0.2);
    transition: ease-in-out .2s; }
    .line .column h4 {
      display: none;
      background-color: #28a4b0;
      color: #fff;
      padding: 1.5rem;
      position: absolute;
      bottom: 0;
      width: 100%; }
    .line .column:hover h4 {
      display: block; }
    .line .column img {
      width: 100%;
      display: block;
      transition: ease-in-out .2s; }
      .line .column img:hover {
        transform: translateY(-1.5rem); }

.form_group:not(:last-child) {
  margin-bottom: 2rem; }

.form_input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  display: block;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px soli; }

.header {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .header .logo {
    display: block;
    margin: 0 auto; }
    .header .logo_img {
      height: 6rem; }

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 8rem; }
  .nav_bar {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    position: relative; }
    .nav_bar-list {
      display: inline;
      list-style: none;
      padding: 2rem;
      transition: all .3s; }
      .nav_bar-list:not(:last-child) {
        margin-right: 5rem; }
      .nav_bar-list--link:link, .nav_bar-list--link:visited {
        position: relative;
        text-decoration: none;
        letter-spacing: 0.5px;
        color: #777;
        padding: 0 1rem; }
      .nav_bar-list--link::after {
        content: "";
        position: absolute;
        height: 4px;
        background-color: #77dae3;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: .2s; }
      .nav_bar-list a:hover::after {
        width: 100%; }
      .nav_bar-list:hover .sub-menu {
        pointer-events: all;
        transform: translateY(0);
        opacity: 1; }
  .nav .sub-menu {
    position: absolute;
    background-color: #fff;
    left: 50rem;
    line-height: 4rem;
    list-style: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 5px 25px black;
    pointer-events: none;
    transform: translateY(2rem);
    opacity: 0;
    z-index: 2000;
    transition: all ease .3s; }
    .nav .sub-menu .sub-item {
      position: relative;
      padding: 7px 0;
      cursor: pointer; }
      .nav .sub-menu .sub-item:not(:last-child) {
        border-bottom: 1px solid #000; }
      .nav .sub-menu .sub-item a {
        color: #777;
        text-decoration: none;
        padding: 1.5rem 3rem; }
      .nav .sub-menu .sub-item:hover {
        background-color: #77dae3; }
      .nav .sub-menu .sub-item:last-child:hover {
        border-radius: 0 0 8px 8px; }

.content {
  width: 100%;
  height: 95vh;
  display: block;
  position: relative;
  z-index: 1000; }
  .content_box {
    height: 80vh;
    overflow: hidden;
    background-image: linear-gradient(to right bottom, rgba(119, 218, 227, 0.2), rgba(40, 164, 176, 0.3)), url(../img/event-8.jpg);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat; }
  .content_writeup {
    padding: 2rem;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%); }

.section_about {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20rem;
  margin-top: -16rem; }
  .section_about h2 {
    margin-top: -5rem; }
  .section_about h1 {
    color: #777;
    font-size: 3.5rem;
    margin-top: 0.5rem;
    margin-bottom: 5rem; }

.section_service {
  width: 100%;
  margin-top: 5rem;
  padding-top: 5rem;
  padding-bottom: 10rem;
  text-align: center;
  background-image: linear-gradient(to right bottom, rgba(119, 218, 227, 0.2), rgba(40, 164, 176, 0.3));
  transform: skewY(-2deg); }
  .section_service h1 {
    color: #777;
    font-size: 3.5rem;
    margin-top: 0.5rem; }

.section_portfolio {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  margin: 4rem auto;
  margin-top: 7rem;
  text-align: center;
  width: 90%; }
  .section_portfolio .myBtnContainer {
    margin: 3rem 0 5rem 0; }

.section_contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, rgba(119, 218, 227, 0.2), rgba(40, 164, 176, 0.3));
  width: 100%; }

.contact {
  width: 80%;
  margin: 0 auto;
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(/img/event-12.jpg); }
  .contact_form {
    width: 50%;
    padding: 6rem; }
