body {
    font-family: 'lato',sans-serif;
    font-weight: 400;
    font-size: $default-font-size;
    line-height: 1.7;
    color: $color-grey-dark;
}

.content_heading {
    // font-weight: 700;
    text-transform: uppercase;
    color: $color-white;
    margin: 3rem;

    &--main {
        display: block;
        font-size: 5rem;
        font-weight: 400;
        letter-spacing: 6.3rem;

        animation-name: moveLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;

    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.4rem;    
        
        animation-name: moveRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
}

.heading_secondary {
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.7;
    color: $color-grey-dark;
    text-align: center;
    margin-bottom: 5rem;
}

.text {
    font-size: 1.6rem;
    line-height: 3rem;
    // text-align: center;
    margin-bottom: 4rem;
}

.heading_tertiary {
    color: $color-primary;
    font-weight: 400;
    text-transform: uppercase;
}